/* hero element */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background-image: url(/assets/img/auth-hero.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  transform: rotate(180deg);
}

.hero::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(239, 200, 26, .7);
}

.hero-content {
  position: absolute;
  z-index: 999;
  text-align: center;
  transform: rotate(180deg);
}

/* auth element */
.auth {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: auto;
}

.auth-content {
  max-width: 330px;
  margin-top: 70px;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--primary);
  border: none;
}

@media (max-width: 576px) {
  .auth-content {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}