/* navbar component */
.navbar {
  transition: 0.5s;
}

.nav-link {
  color: #32268f !important;
}

.active {
  border-bottom: 2px solid #2E266F;
}

.right-menu .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.right-menu a {
  text-decoration: none;
}