@font-face {
  font-family: "Inter";
  src: url(../font/inter.woff2);
}

@font-face {
  font-family: "Airbnb";
  src: url(../font/airbnb.woff2);
}

:root {
  --primary: #EFC81A;
}

/* custom utility */
.color-primary {
  color: var(--primary) !important;
}

.back-primary {
  background-color: var(--primary) !important;
}

.ff-inter {
  font-family: "Inter", sans-serif;
}

.ff-airbnb {
  font-family: "Airbnb", sans-serif;
}