/* root / html element */
:root {
  --primary: #EFC81A;
}

/* custom utility */
.color-primary {
  color: var(--primary) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.text-small {
  font-size: .9rem;
}

.mb-10 {
  margin-bottom: 10vh;
}

.ff-inter {
  font-family: "Inter", sans-serif;
}

.ff-airbnb {
  font-family: "Airbnb", sans-serif;
}
